#about-container {
  padding: 20px 12%;
  background: #f0f4f8;
}

#about-text {
  color: #4a5568;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto auto;
  margin: 0 auto;
  gap: 20px;
}

.item-about {
  background-color: #0b1a3d;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-weight: 200;
  line-height: 160%;
}

.box-imagem-central {
  grid-row: 1 / span 2;
  grid-column: 2;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-imagem-central img {
  width: 100%;
  padding: 0;
  height: auto;
  display: block;
  object-fit: cover;
  flex-grow: 1;
}

.box-imagem-central .info-adicional {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

.icone {
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: white;
  color: #0b1a3d;
  padding: 10px;
  border-radius: 5px;
  width: min-content;
}

@media (max-width: 480px) {
  #about-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .about-grid-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
  }

  .box-imagem-central {
    grid-column: 1;
    grid-row: auto;
    order: -1;
  }

  .item-about {
    grid-column: 1;
  }
}
