#about-container {
  padding: 20px 12%;
  background: #f0f4f8;
}

#about-text {
  color: #4a5568;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 2rem;
  text-align: center;
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.item-about {
  background-color: #0b1a3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(103deg, #001A3A 0%, #103863 49.82%, #001A3A 100%);
  color: #FFF9EA;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 300;
  line-height: 160%;
  z-index: 5;
}

.item-about h2 {
  font-family: "Playfair Display";
  color: #b38b59;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1.4rem;
}

.box-imagem-central {
  grid-row: 1;
  grid-column: 2;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
}

.box-imagem-central img {
  width: 100%;
  padding: 0;
  height: auto;
  display: block;
  object-fit: cover;
  flex-grow: 1;
}

.box-imagem-central .info-adicional {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

/* .icone {
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: white;
  color: #0b1a3d;
  padding: 10px;
  border-radius: 5px;
  width: min-content;
} */

@media (max-width: 480px) {
  #about-container {
    padding: 0px 8%;
  }

  .about-grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .box-imagem-central {
    grid-column: 1 / -1; /* ocupa toda a coluna */
    grid-row: 1; /* sobe pro topo */
  }

  .item-about {
    grid-column: 1 / -1;
  }
}
