@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.App {
  min-height: 100vh;
  width: 75vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #6b3d3d;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

#nav_logo {
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
}

.nav-logo-container {
  max-width: 120px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu-container {
  display: none;
}

.navbar-list-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #1b1111;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-contatos {
  padding: 0.4rem 1.5rem;
  background-color: #777777;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contatos:hover {
  background-color: #1a1a1a;
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 100px;
  }
  .navbar-list-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }
}
