@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.btn-default {
  padding: 0.8rem 1.5rem;
  background: #001a3a;
  color: #f0f4f8;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  color: #b38b59;
  background: #fff9ea;
}

#sections-title {
  color: #b38b59;
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

#sections-title-span {
  color: #1a2c42;
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
