@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  scroll-behavior: smooth;
}

.btn-default {
  width: 250px;
  padding: 1rem 1.5rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #b38b59;
  display: flex;
  color: #f0f4f8;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn-default::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%, 
    rgba(255, 255, 255, 0) 100% 
  );
  transform: skewX(-20deg);
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.btn-default:hover {
  box-shadow: 0 3px 8px rgba(179, 139, 89, 0.5);
  color: #f0f4f8;
  background-color: #b38b59;
}

#sections-title {
  color: #b38b59;
  font-family: "Playfair Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
  padding-bottom: 2rem;
  padding-top: 1rem;
  
}

#sections-title-span {
  color: #1A2C42;
  font-family: "Playfair Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  opacity: 0.9;
}

#sections-subtitle {
  color: #1A2C42;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  padding-bottom: 2rem;
  text-align: center;
  opacity: 0.8;
}

.floating-btn {
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 25px;
  background-color: #0f7743;
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #056641;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.floating-btn {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s, transform 0.6s;
}

.floating-btn.animate {
  animation: fadeInRight 0.8s ease forwards;
}

@media (max-width: 480px) {
  #sections-title {
    font-size: 1.75rem;
  }

  #sections-title-span {
    font-size: 1.75rem;
  }
}