#contacts {
  background-image: linear-gradient(
      rgba(37, 37, 37, 0.7),
      rgba(37, 37, 37, 0.7)
    ),
    url("../assets/businessImage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#contacts-container {
  padding: 20px 12%;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: white;
}

#contacts-text {
  color: #F0F4F8;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 2rem;
  text-align: center;
}

.contacts-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
}

.contacts-subtitle strong {
  color: #c7a974;
}

#contacts-grid-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
}

.contact-item p {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  font-weight: 600;
}

.contact-item a {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-icon-box {
  background: linear-gradient(103deg, #001a3a 0%, #103863 49.52%);
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 35px;
  color: white;
}

.contact-label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-info {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info:hover {
  color: #c7a974;
}

@media (max-width: 768px) {
  #contacts-container {
    padding: 0px 8%;
  }

  #contacts-grid-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
