#contacts {
  background-image: linear-gradient(
      rgba(37, 37, 37, 0.7),
      rgba(37, 37, 37, 0.7)
    ),
    url("../assets/businessImage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#contacts > * {
  position: relative;
  z-index: 1;
}

#contacts-container {
  padding: 20px 12%;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: #f0f4f8;
}

#contacts-text {
  color: #f0f4f8;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  padding-bottom: 2rem;
  text-align: center;
}

.contacts-subtitle {
  font-size: 1rem;
  font-weight: 300;
}

.contacts-subtitle strong {
  color: #c7a974;
}

#contacts-grid-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.contact-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 150px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s, transform 0.6s;
}

.contact-item.animate {
  animation: fadeInUp 0.8s ease forwards;
}

.contact-item p {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-item a {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-icon-box {
  border: 2px solid #f0f4f8;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 35px;
  color: #f0f4f8;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.contact-icon-box:hover {
  transform: translateY(-4px);
  background-color: #b38b59;
  color: #f0f4f8;
  box-shadow: 0 4px 10px rgba(179, 139, 89, 0.5);
  border: none;
}

.contact-info {
  font-size: 1rem;
  color: #f0f4f8;
  text-decoration: none;
  transition: color 0.3s;
}

@media (max-width: 480px) {
  #contacts-container {
    padding: 0px 8%;
  }

  #contacts-grid-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-item p {
    font-size: 1.25rem;
  }

  .contact-item a {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #contacts-container {
    padding: 0px 10%;
  }

  #contacts-grid-container {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #contacts-container {
    padding: 0px 12%;
  }

  #contacts-grid-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  }
}
