#footer {
  background: linear-gradient(to bottom, #021831, #001226);
  color: #f0f4f8;
  font-family: "Inter", sans-serif;
  border-top: 2px solid #c7a35e30;
}

#footer-container {
  padding: 40px 12%;
}

#footer-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  align-items: start;
  justify-items: center;
  text-align: left;
}

.footer-title {
  color: #b38b59;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Playfair Display";
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-icon {
  margin-right: 8px;
  font-size: 1.4rem;
}

.item-footer p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
  font-weight: 400;
}

.item-footer a {
  font-size: 1rem;
  color: #f0f4f8;
  text-decoration: none;
  transition: all 0.3s ease;
}

.item-footer a:hover {
  color: #b38b59;
  transform: translateX(3px);
}

.footer-links {
  font-weight: 400;
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 6px 0;
}

.footer-links a {
  font-weight: 500;
  color: #f0f4f8;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #b38b59;
  transform: translateX(3px);
}

.footer-divider {
  margin: 40px auto 20px;
  border: none;
  height: 1px;
  background-color: #b38b59;
  opacity: 0.6;
  width: 60%;
  transition: width 0.5s ease;
}

#footer:hover .footer-divider {
  width: 100%;
}

.footer-bottom {
  font-weight: 400;
  text-align: center;
  color: #f0f4f8;
  font-size: 1rem;
}

@media (max-width: 480px) {
  #footer-container {
    padding: 30px 8%;
  }

  #footer-grid-container {
    gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-title {
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 750;
  }

  .item-footer p {
    margin-bottom: 4px;
  }

  .footer-links li {
    margin: 4px 0;
  }

  .footer-links a {
    font-weight: 400;
    font-size: 14px;
  }

  .item-footer a {
    font-weight: 400;
    font-size: 14px;
  }

  .footer-icon {
    margin: 0 8px 0 0;
  }

  .footer-divider {
    margin: 20px auto 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #footer-container {
    padding: 30px 10%;
  }

  #footer-grid-container {
    gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-title {
    justify-content: center;
    font-size: 1.25rem;
  }

  .footer-links {
    font-weight: 300;
  }

  .footer-icon {
    margin: 0 8px 0 0;
  }

  .footer-divider {
    margin: 30px auto 20px;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #footer-container {
    padding: 30px 12%;
  }
}
