#header {
  width: 100%;
  padding: 20px 12%;
  max-height: 80px;
  background: rgba(0, 26, 58, 0.95);
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  color: #f0f4f8;
}

.navbar-list-container a {
  margin-right: 2.4rem;
  text-decoration: none;
  color: #1b1111;
  font-size: 1rem;
  font-weight: 400;
  color: #f0f4f8;
}

.navbar-menu-container {
  display: none;
  font-size: 1.8rem;
  color: #b38b59;
}

.btn-contatos {
  padding: 0.5rem 1.5rem;
  background-color: #b38b59;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  color: #f0f4f8;
  transition: background-color 0.3s ease;
}

.btn-contatos:hover {
  border: none;
  color: #f0f4f8;
  background: #b38b59;
}

@media (max-width: 480px) {
  #header {
    padding: 16px 8%;
    max-height: 60px;
  }

  .navbar-list-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }
}
