#home-container {
  display: flex;
  padding: 80px 12%;
  padding-bottom: 0;
  max-height: 880px;
  gap: 3rem;

  background-image: 
    linear-gradient(103deg, rgba(0, 26, 58, 0.9), rgba(16, 56, 99, 0.9)), 
    url("../assets/imageBackground.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cta {
  height: 800px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cta {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s, transform 0.6s;
}

.cta.animate {
  animation: fadeInLeft 0.8s ease forwards;
}

#cta .title {
  margin-top: 22%;
  font-weight: 500;
  font-size: 3rem;
  color: #f0f4f8;
  font-family: "Playfair Display";
}

#cta .title span {
  color: #b38b59;
  font-family: "Playfair Display";
}

#cta .description {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 160%;
  color: #f0f4f8;
}

#cta .description span {
  color: #b38b59;
}

#cta_buttons {
  padding-top: 90px;
  display: flex;
  gap: 28px;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 50%;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 100%;
  max-height: 800px;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 480px) {
  #home-container {
    padding: 60px 8%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: 600px;
  }

  #cta .title {
    font-size: 2rem;
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-size: 1rem;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #home-container {
    padding: 60px 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: 600px;
  }

  #cta .title {
    font-size: 2rem;
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-size: 1rem;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #home-container {
    padding: 60px 12%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: 600px;
  }

  #cta .title {
    font-size: 2rem;
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-size: 1rem;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    gap: 1rem;
  }
}

