#home-container {
  display: flex;
  padding: 80px 12%;
  padding-bottom: 0;
  max-height: 880px;
  background: linear-gradient(103deg, #001a3a 0%, #103863 49.82%, #001a3a 100%); 
  gap: 3rem;
}

#cta {
  height: 800px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 2;
}

#cta .title {
  margin-top: 22%;
  font-size: 3.4rem;
  color: #f0f4f8;
  font-family: "Playfair Display";
}

#cta .title span {
  color: #b38b59;
  font-family: "Playfair Display";
}

#cta .description {
  font-size: 1.2rem;
  line-height: 160%;
  color: #f0f4f8;
}

#cta .description span {
  color: #b38b59;
}

#cta_buttons {
  display: flex;
  gap: 28px;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 50%;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 100%;
  max-height: 800px;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease;
}

@media (max-width: 480px) {
  #home-container {
    padding-left: 8%;
    padding-right: 8%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 8%;
    z-index: 2;
  }

  #cta .title {
    font-size: 2.2rem;
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-size: 1rem;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
