#services-container {
  padding: 20px 12%;
  background: #dedbd4;
}

#services-text {
  color: #4a5568;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.services-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.item-services {
  background-color: #0b1a3d;
  color: white;
  padding: 20px;
  border-radius: 5px;
  line-height: 160%;
  font-weight: 200;
}

.icone {
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: white;
  color: #0b1a3d;
  padding: 10px;
  border-radius: 5px;
  width: min-content;
}

@media (max-width: 480px) {
  #services-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .services-grid-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
  }

  .item-services {
    grid-column: 1;
  }
}
