#about-container {
  padding: 20px 12%;
  background: #0b1624;
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-bottom: 2rem;
  gap: 20px;
}

.item-about {
  color: #f1f5f9;
  text-align: justify;
  height: auto;
  font-weight: 450;
  line-height: 160%;
  z-index: 5;
  opacity: 0.9;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-about {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s,
    transform 0.6s;
}

.item-about.animate {
  animation: fadeInUp 0.8s ease forwards;
}

.item-about h2 {
  font-family: "Playfair Display";
  color: #d4a24c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.box-imagem-central {
  border-radius: 5px;
  background-image:
    
    url("../../assets/imageabout.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
}

.box-imagem-central img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: top;
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.box-imagem-central img:hover {
  filter: brightness(100%);
}

.box-imagem-central .info-adicional {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  #about-container {
    padding: 0px 5%;
  }

  .about-grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .item-about h2 {
    font-size: 1.25rem;
  }

  #about-text {
    font-size: 1rem;
  }

  .box-imagem-central {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .item-about {
    grid-column: 1 / -1;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #about-container {
    padding: 0px 10%;
  }

  .about-grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .item-about h2 {
    font-size: 1.25rem;
  }

  .box-imagem-central {
    grid-column: 1 / -1;
    grid-row: 1;
    background-size: cover;
  }

  .item-about {
    grid-column: 1 / -1;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #about-container {
    padding: 0px 12%;
  }

  .about-grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .box-imagem-central {
    grid-column: 1 / -1;
    grid-row: 3;
    background-size: cover;
    max-width: 400px;
  }

  .item-about {
    grid-column: 1 / -1;
  }
}
