#contacts {
  background-color: #0d1117; 
  margin: 0;
  padding: 0;
}

#contacts-container {
  padding: 20px 10%;
  width: 100%;
  text-align: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/home-contacts-banner.webp");

  background-repeat: no-repeat;
  background-size: 101%;
  background-position: center center;
  background-attachment: fixed;
}

#contacts-contorno {
  border: 2px solid #b38b59;
  border-radius: 4px;
}

#contacts-text {
  color: #F0F8FF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
}

.contacts-subtitle {
  font-size: 1rem;
  font-weight: 300;
}

.contacts-subtitle strong {
  color: #d4a24c;
}

#contacts-grid-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.contact-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 150px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-item {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s,
    transform 0.6s;
}

.contact-item.animate {
  animation: fadeInUp 0.8s ease forwards;
}

.contact-item p {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-item a {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-icon-box {
  border: 2px solid #F0F8FF;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 35px;
  color: #F0F8FF;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.contact-icon-box:hover {
  transform: translateY(-4px);
  background-color: #d4a24c;
  color: #F0F8FF;
  box-shadow: 0 4px 10px rgba(179, 139, 89, 0.5);
  border: none;
}

.contact-info {
  font-size: 1rem;
  color: #F0F8FF;
  text-decoration: none;
  transition: color 0.3s;
  opacity: 0.9;
}

@media (max-width: 480px) {
  #contacts-container {
    padding: 16px 16px;
    background-size: cover;
  }

  #contacts-text #sections-subtitle {
    padding-right: 16px;
    padding-left: 16px;
  }

  #contacts-grid-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #contacts-container {
    padding: 16px 5%;
    background-size: cover;
  }

  #contacts-grid-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #contacts-container {
    padding: 16px 10%;
    background-size: cover;
  }

  #contacts-grid-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
}
