#home-container {
  display: flex;
  padding: 80px 10%;
  padding-bottom: 0;
  gap: 3%;

  background-image: linear-gradient(
      
      rgba(0, 17, 37, 0.75),
      rgba(0, 26, 58, 0.9)
    ),
    url("../../assets/home-hero-banner.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cta {
  min-height: 780px;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cta {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s, transform 0.6s;
}

.cta.animate {
  animation: fadeInLeft 0.8s ease forwards;
}

#cta .title {
  margin-top: 22%;
  font-weight: 500;
  font-size: clamp(2rem, 4.5vw, 3.5rem);
  color: #e8f0ff;
  font-family: "Playfair Display";
}

#cta .title span {
  color: #d4a24c;
  font-family: "Playfair Display";
}

#cta .description {
  font-size: clamp(1rem, 2vw, 1.250rem);
  font-weight: 400;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.9;
}

#cta .description span {
  color: #d4a24c;
  opacity: 0.9;
}

#cta_buttons {
  margin-top: 80px;
  margin-bottom: 120px;
  display: flex;
  gap: 28px;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 50%;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 480px) {
  #home-container {
    padding: 60px 16px;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: auto;
  }

  #cta .title {
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    line-height: 160%;
    color: #f0f4f8;
    font-weight: 350;
  }

  #cta_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #home-container {
    padding: 60px 5%;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: 700px;
  }

  #cta .title {
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-weight: 350;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  #home-container {
    padding: 60px 10%;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    max-height: auto;
  }

  #cta .title {
    color: #f0f4f8;
    font-family: "Playfair Display";
  }

  #banner {
    display: none;
  }

  #cta .description {
    font-weight: 350;
    line-height: 160%;
    color: #f0f4f8;
  }

  #cta_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
