/* header da área criminal */

#tpcriminal-header {
  width: 100%;
  padding: 20px 12%;
  max-height: 80px;
  background: rgba(0, 26, 58, 0.95);
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#tpcriminal-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tpcriminal-navbar a {
  text-decoration: none;
  color: #1b1111;
  font-size: 1rem;
  font-weight: 400;
  color: #f0f4f8;
}

#tpcriminal-navbar a:hover {
  color: #b38b59;
}

#tpcriminal-nav_logo {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  color: #f0f4f8;
}

#tpcriminal-nav_logo:hover {
  color: #b38b59;
}

/* home da área criminal */

#tpcriminal-home {
  display: flex;
  padding: 80px 12%;
  padding-bottom: 0;
  height: 400px;
  background-color: rgba(0, 26, 58, 0.9);
  justify-content: center;

  background-image: 
    linear-gradient(103deg, rgba(0, 26, 58, 0.9), rgba(16, 56, 99, 0.9)), 
    url("");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#tpcriminal-container-home {
  height: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#tpcriminal-title {
  margin-top: 5%;
  font-size: 3rem;
  font-weight: 500;
  color: #f0f4f8;
  font-family: "Playfair Display";
}

#tpcriminal-title span{
  color: #b38b59;
  font-family: "Playfair Display";
}

#tpcriminal-description {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 160%;
  color: #f0f4f8;
}

/* conteúdo da área criminal */

#tpcriminal-conteudo {
  padding: 20px 12%;
  background: #f0f4f8;
}

#tpcriminal-text {
  color: #2d3748;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
}

#tpcriminal-text p {
  padding-bottom: 1.5rem;
}

/* perguntas da área criminal */
